/*
  TYPOGRAPHY
*/

.font-size-large-4 {
  font-size: 3rem;
}

.font-size-large-3 {
  font-size: 2rem;
}

.font-size-large-2 {
  font-size: 1.5rem;
}

.font-size-large-1 {
  font-size: 1.25rem;
}

.font-size-base {
  font-size: 1rem;
}

.font-size-small-1 {
  font-size: 0.875rem;
}

.font-size-small-2 {
  font-size: 0.75rem;
}

.font-size-small-3 {
  font-size: 0.5rem;
}

.font-size-small-4 {
  font-size: 0.375rem;
}

.font-size-14 {
  font-size: 0.875rem;
}

.svg-font-size-24 {
  svg {
    font-size: 24px;
  }
}

/*
  FONT WEIGHT
*/

.bold {
  font-weight: $font-weight-bold;
}

/*
  WHITE SPACE & WRAPPING
*/

.nowrap {
  white-space: nowrap;
}
.wrap-normal {
  white-space: normal;
}

.break-normal {
  word-wrap: normal;
}
.break-words {
  word-wrap: break-word;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no-list {
  padding: 0;
  list-style-type: none;
}

/*
  LINE HEIGHTS
*/

.line-height-1 {
  line-height: 1;
}
.line-height-2 {
  line-height: 1.25;
}
.line-height-3 {
  line-height: 1.5;
}
.line-height-form-control {
  line-height: var(--form-control-height);
}

.text-decoration-underline {
  text-decoration: underline;
}