<div class="site-wrapper">
  <header class="site-header">
    <app-header
      class="width-p-100"
      [heading]="heading$ || undefined"
    ></app-header>
  </header>

  <aside class="site-sidebar position-relative">
    <div>
      <a routerLink="/start" style="cursor: pointer; display: inline-block;"> <img src="assets/images/dev-matcher-logo.png" class="width-65" alt="Logo - Home" /> </a>
    </div>
  </aside>

  <main class="site-main">
    <router-outlet></router-outlet>
  </main>
</div>