@import "../../../../styles.scss";

button {
  border-radius: $border-radius;
  transition: background-color 0.4s, background-size 0.8s, box-shadow 0.2s;
  cursor: pointer;
}

.button-primary {
  background-color: $color-primary;
  border: 1px solid transparent;
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
}

.button-primary:not([disabled]):hover,
.button-primary:not([disabled]):focus {
  background-color: #4da8e3;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.button-primary:not([disabled]):active {
  background-color: #006280;
  background-size: 100%;
  transition: background-color 0s, background-size 0s;
}

.button-secondary {
  border: 1px solid rgba($color-primary, 0.2);
  color: $color-primary;
  background: rgb(255, 255, 255);
  fill: $color-primary;
  transition: background-color 0.4s, background-size 0.8s, box-shadow 0.2s;
}

.button-secondary:not([disabled]):hover,
.button-secondary:not([disabled]):focus {
  background-color: $color-primary-light;
  background-image: radial-gradient(
    circle,
    transparent 1%,
    $color-primary-light 1%
  );
}

button[disabled] {
  opacity: 0.6;
  backdrop-filter: blur(10px);
}
