<div class="flex flex-column margin-top-85">
  <!-- <div class="flex justify-center">
      <img src="assets/images/roastpic.png" />
    </div> -->

  <div class="flex justify-center margin-top-24">
    <app-button
      class="margin-right-20"
      [label]="'Search CV'"
      [width]="'265'"
      [height]="'40'"
      [type]="'primary'"
      (click)="onClick()"
    ></app-button>

    <app-button
      [label]="'Upload CV'"
      [width]="'265'"
      [height]="'40'"
      [type]="'primary'"
      (click)="onClick()"
    ></app-button>
  </div>
</div>
